body{
	background-image:url("../images/bg.jpeg");
	background-repeat:no-repeat;
	background-size:cover; 
}
/*----------------------------sidenavbar--------------------------------*/
#hamburger{
	font-size:40px;
	color:gray;
	font-family:arial black;  
	padding-left:5px; 
	padding-right:5px; 
}
#hamburger:hover{
	color:black;
	font-size:40px;
	cursor:pointer;  
}
#closebtn{
	color:gray;
	font-family:arial black; 
	font-size:30px;
	top:0px;
	right:0px;
	display:block;
	margin-left:270px;
	margin-top:10px;
}
#closebtn:hover{
	color:white;
	font-size:30px;
	cursor:pointer;
}
a{
	text-decoration:none;
	font-size:30px; 
	font-family:impact;
	text-align:center;   
	display:block;
	color:gray;
	margin-top:50px; 
}
a:hover{
	color:white;
	font-size:35px;
}
#sidenav{
	background-color:black;
	display:none;
	position:fixed;
	height:100%;
	width:20%;
}
/*-----------------------------form-------------------------*/
#content{
	padding:10px;
	margin-left:35%;
	margin-right:35%;
	background-color:black;
	color:white;
	border:2px solid gray;
}
#form{
	padding:20px;
}
#submit{
	margin:10px;
	text-align:center;
	padding:10px;
	margin-left:40%;
	background-color:gray;
	border-radius:15px;
}
#submit:hover{
	background-color:white;
	color:black;
}
input{
	height:10%;
	width:85%;
	background-color:transparent;
	padding:10px;
	margin:5px;
	color:white;
}
img{
	width:300px;
	height:300px;
	border-radius:50%;
	margin-left:40px;
}
